@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.navbar {
    align-items: center;
    color: #fff;
    background-color: black;
    border-radius: 1px 1px 40px 40px;
    padding: 7px 0;
    margin-bottom: 15px;
    box-shadow: 1px 5px 3px white, 2px 16px 6px black;
    background: url('../pic/pic2.jpg');
  }
  

  .logo a {
    color: #fff;
    text-decoration: none;
    font-size:24px;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Nosifer', sans-serif;
    
  }

  .nav-links {
    list-style: none;
    display: flex;
    font-weight: 800;  
  }

  
  .nav-links li {
    margin: 4px 15px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    
  }
  

  .nav-links li a:hover {
    color: orangered;
    transition: color 0.3s ease-in-out;
  }