@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.mainx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    
  }
  
  /* Style the outer container */
  .formx {
    height: 100vh;
    margin: 0;
  }
  
  /* Style the inner container */
  .formx {
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-shadow: 1px 6px 16px 8px white;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    width: 60%;
    height: 80%;
    margin-top: 80px;
    border: 4px solid black;
    border-radius: 199px;
    background:url('../pic/pic2.jpg');
  }
  
  /* Style the form */

  
  Form.Label {
    font-weight: bold;
  }


  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 35%;
    padding: 10px;
    margin: 11px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 51px;
    background:url('../pic/pic2.jpg');
    box-shadow: 1px 2px 9px 5px white;
    
  }
  
  Button[type="submit"],
  Button[type="login"]
   {
    font-size: 18px;
    background:url('../pic/pic2.jpg');
    background-color: transparent;
    width: 20%;
    border-radius: 25px;
    color: black;
    border: 2px solid black;
    margin-top: 40px;
    box-shadow: 5px 4px 4px 4px whi;
    font-weight: 500;
    font-family: 'Nosifer', sans-serif;
    box-shadow: 1px 2px 9px 5px white;
    
  }
  

  Button[type="submit"]:hover,
  Button[type="login"]:hover {
    background-color: aqua;
    color: black;

  }


@media (max-width: 760px) {

    .mainx {
      margin-top: -40px;
    }

    .formx {
      width: 60%;
      
    }

  }
  

  @media (max-width: 800px) {

    .formx {
      width: 90%;
      padding: 10px;
      margin-top: -50px;
      background:url('../pic/pic2.jpg');
    }
  
    Form.Label {
      font-size: 14px;
      
    }

    h4 {
      font-size: 25px;
      background:url('../src/pic/pic2.jpg');
      margin-bottom: 40px;
      color: aliceblue;
      width: 35%;
      margin-top: 30px;
      margin-left: 200px;
      border-radius: 35px;
      border: 3px solid white;
      box-shadow: 5px 4px 4px 4px black;
      font-family: 'Nosifer', sans-serif;
      background:url('../pic/gh.jpg')
     
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 8px;
      width: 45%;
    }
  
  }