@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 20px;
  }
  
  /* Logo styling */
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nosifer', sans-serif;
  }
  
  /* Navigation links */
  .nav-links {
    list-style: none;
    display: flex;
    
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    
  }
  
  /* Hover effect on links */
  .nav-links li a:hover {
    color: yellow;
    transition: color 0.3s ease-in-out;
  }