/* Center the content vertically and horizontally */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('./pic/pic2.jpg');

    
  }

  .text-danger {
    font-size: 20px;
    margin-top: 10px;
  }
  

  .sub {

    
  }

  .sub {
    height: 100vh;
    margin: 0;
    width: 800px;
    height: 620px;
    background:url('../src/pic/pic2.jpg');
    align-items: center;
    text-align: center;
    margin-top: -10px;
    padding: 10px;
    /* width: 45%;
    height: 85%; */
    border: 4px solid black;
    border-radius: 199px;
    
  }

  a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  transform: translateY(6);
  transition: 0.8s;
 }

 a:hover {
  font-weight: 500;
  color: orange;
  text-decoration: inherit;
 }

  Button[type="submit"],
  Button[type="login"]
   {
    font-size: 18px;
    background:url('../src//pic/pic2.jpg');
    background-color: transparent;
    width: 20%;
    border-radius: 25px;
    color: whitesmoke;
    margin-top: 40px;
    box-shadow: 5px 4px 4px 4px white;
    font-family: 'Nosifer', sans-serif;
    box-shadow: 1px 2px 4px 5px white;
    background:url('./pic/gh.jpg');
    transform: translateY(6);
    transition: 0.6s;

  }
  
  input[type="text1"],
  input[type="email1"],
  input[type="password1"] {
    width: 35%;
    padding: 10px;
    margin: 11px;
    background-color: transparent;
    margin-top: -200px;
    border-radius: 15px;
    border: 2px solid black;
    border-radius: 51px;
    box-shadow: 1px 2px 4px 5px white;
    background:url('./pic/gh.jpg')
  }

  /* input[type="text1"]::-webkit-input-placeholder,
  input[type="password1"]::-webkit-input-placeholder,
  input[type="email1"]::-webkit-input-placeholder {
   
  } */

  input[type="password1"]::placeholder,
  input[type="email1"]::placeholder,
  input[type="text1"]::placeholder {
    color: white;
    font-weight: 700;
    padding: 30px;
    
  }

@media (max-width: 800px) {


    .sub {
      width: 600px;
      height: 570px;
      padding: 10px;
      margin-top: -40px;
    }

    h3 {

      margin-bottom: 30px;
      width: 55%;
      margin-left: 135px;
      border-radius: 35px;
      border: 3px solid white;
      box-shadow: 5px 4px 4px 4px black;
      font-family: 'Nosifer', sans-serif;
      background:url('./pic/gh.jpg')
    }

  
    input[type="text1"],
    input[type="email1"],
    input[type="password1"] {
      padding: 8px;
      width: 45%;
    }

    /* input[type="text1"]::-webkit-input-placeholder,
    input[type="password1"]::-webkit-input-placeholder,
    input[type="email1"]::-webkit-input-placeholder {
     
    }
   */
    /* input[type="password1"]::placeholder,
    input[type="text1"]::placeholder {
      font-weight: 700;
      padding: 70px;
      color: yellow;
      
    } */

    /* input[type="email1"]::placeholder{
      font-weight: 700;
      padding: 80px;
    } */

    Button[type="submit"],
    Button[type="login"] {
      padding: -2px;
      width: 30%;
      margin-top: 31px;
      transform: translateY(6px);
      transition: 0.6s
    }
    Button[type="submit"]:hover,
    Button[type="login"]:hover {
      color: orange;
  
    }
    
  }