/* Center the content vertically and horizontally */
.d-flex.justify-content-center.align-items-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('../pic/pic2.jpg');
    
  }
  

  .bg-secondary.vh-100 {
  
    height: 100vh;
    margin: 0;
  }

  
 
  .bg-white.p-3.rounded.w-25 {
    background:url('../src/pic/pic2.jpg');
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    width: 55%;
    height: 90%;
    border: 4px solid black;
    border-radius: 199px;
    
  }
  
  Form.Label {
    font-weight: bold;
  }

  a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

  Button[type="submit"],
  Button[type="login"]
   {
    font-size: 18px;
    background:url('../src//pic/pic2.jpg');
    margin-bottom: 20px;
    background-color: transparent;
    width: 20%;
    border-radius: 25px;
    color: whitesmoke;
    border: 2px solid black;
    margin-top: 40px;
    box-shadow: 5px 4px 4px 4px whi;
    font-weight: 500;
    font-family: 'Nosifer', sans-serif;
    box-shadow: 1px 2px 9px 5px white;
    
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 35%;
    padding: 10px;
    margin: 11px;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid black;
    border-radius: 51px;
    background:url('../src/pic/pic2.jpg');
    box-shadow: 1px 2px 9px 5px white;
  }
  

@media (max-width: 760px) {
    /* Center the content vertically and horizontally */
    .d-flex.justify-content-center.align-items-center {
      margin-top: -40px;
      margin-top: -1px;
    }
  
    /* Adjust the width of the inner container */
    .bg-white.p-3.rounded.w-25 {
      width: 60%;
      
    }

    h3 {

      margin-bottom: 30px;
      width: 35%;
      margin-left: 220px;
      border-radius: 35px;
      border: 3px solid white;
      box-shadow: 5px 4px 4px 4px black;
      font-family: 'Nosifer', sans-serif;
    }
    
  }
  
  /* Additional styles for even smaller screens, e.g., mobile devices */
  @media (max-width: 760px) {
    /* Adjust the width of the inner container */
    .bg-white.p-3.rounded.w-25 {
      width: 90%;
      height: 90%;
      padding: 10px;
      margin-top: 10px;
    }
  
    /* Style form inputs and labels for small screens */
    Form.Label {
      font-size: 14px;
      
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 8px;
      width: 45%;
    }
  
    /* Style the submit button for small screens */
    Button[type="submit"],
    Button[type="login"] {
      padding: 4px;
      width: 25%;
    }
  }